.edit-form {
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 10px;
    width: 282px;
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 22px;
}

@media screen and (min-width: 769px) {
    .edit-form {
        width: 430px;
        padding-left: 36px;
        padding-right: 36px;
    }
}