.icon_type_close {
    background-image: url(../../../images/popup-close_icon.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
}

@media screen and (min-width: 769px) {
    .icon_type_close {
        width: 32px;
        height: 32px;
    }
}