.icon_type_edit-profile {
    background-image: url(../../../images/profile-icon.svg);
    width: 8px;
    height: 8px;
    background-size: cover;
}

@media screen and (min-width: 769px) {
    .icon_type_edit-profile {
        width: 10px;
        height: 10px;
    }
}